@import "../node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);

$montserrat: 'Montserrat', sans-serif;   
$arial: 'Arial', sans-serif;


@mixin space($pd-top, $pd-right, $pd-down, $pd-left) {
	margin: 10px auto;
	padding: $pd-top $pd-right $pd-down $pd-left;
}

body{
	font-family: $arial;
	font-size: 1rem;
	max-width: 100%;
    overflow-x: hidden;
}

.navbar{
	background-color: transparent !important;
	color: #8C8C8C !important;
	font-size: 1rem !important;
}

.main-btn{
	background: #2DA688;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2), -4px -4px 12px rgba(255, 255, 255, 0.2)  !important;
	border-radius: 24px !important;
	@include space(5px, 24px, 5px, 24px);
	font-family: $arial;
}

#search-btn{
	background: #2DA688;
	color: #FFFFFF;
}

.landing-label{
	font-family: $montserrat;
	font-size: 2rem;
	@include space(100px, 0, 0, 0);	
}

.landing-text{
	font-size: 1rem;
	@include space(0, 50px, 0, 50px);
}

.col-left-landing{
	// background: url(../img/img1.svg) left bottom no-repeat, url(../img/img2.svg) left top no-repeat;
}

.col-right-landing{
	// background: url(../img/img3.svg) right top no-repeat, url(../img/img4.svg) right bottom no-repeat;
}

.back-img-landing{
	pointer-events: none;
	overflow: hidden;
	justify-content: center;
    position: absolute;
    // width: 100%;
    // height: 100%;
    z-index: -1;
}

#img1{
	width: 200%;
	top: 5vh;
	left: -5vw;
}

#img2{
	width: 250%;
	bottom: -8vh;
	left: -30vw;
}

#img3{
	width: 200%;
	top: 0;
	right: -15vw;
}

#img4{
	width: 250%;
	bottom: -6vh;
	right: -20vw;
}

.step-text-landing{
	font-family: $arial;
	font-size: 0.8rem;
	line-height: 0.9rem;
	margin: 0;
	text-align: center;
}

.icon-landing{
	display: block;
	margin: auto;
}

.numbers-landing{
	margin: 0;
	text-align: center;
}

.row-numbers{
	padding: 5% 0 5% 0;
}

.btn-secondary{
	background: #FFFFFF !important;
	color: #2F2F2F !important;
	border: none !important;
}

.dropdown-landing{
	@include space(0, 0, 0, 0);
	background: #FFFFFF;
	box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2), -4px -4px 12px rgba(255, 255, 255, 0.2);
}

.dropdown-text-landing{
	font-size: 1rem;
	text-align: center;
	@include space(0, 1rem, 0, 1rem);
}

.dropdown-round{
	background: #FFFFFF;
	border-bottom-left-radius: 24px !important;
	border-top-left-radius: 24px !important;
}

.dropdown-round-toggle{
	background: #FFFFFF;
	border-bottom-right-radius: 24px !important;
	border-top-right-radius: 24px !important;
}

.dropdown-icon{
	padding: 5px;
}

.dropdown-landing-col{
	text-align: center;
}

// .my-col{
// 	border: 1px red solid;
// 	// padding: 0;
// }

// .my-row{
// 	border: 1px blue dotted;
// }

// .my-container{
// 	border: 1px green dashed;
// }

@include media-breakpoint-up(sm) {
  body {
    font-size: 1.2rem;
  }
  .landing-label{
  	font-size: 3rem;
  }
  .step-text-landing{
  	text-align: left;
  }
  .numbers-landing{
  	text-align: end;
  }
  .dropdown-text-landing{
	text-align: end;
  }
  .dropdown-landing-col{
	text-align: left;
	}

}

@include media-breakpoint-up(md) {
  body {
    font-size: 1.4rem;
  }
  .landing-label{
  	font-size: 3.5rem;
  }
  .landing-text{
  	font-size: 1rem;
  }
  #img1{
	width: 500%;
	top: 5vh;
	left: -15vw;
}
  #img2{
	width: 500%;
	bottom: -8vh;
	left: -10vw;
  }

  #img3{
	width: 600%;
	top: 0;
	right: -20vw;
  }

  #img4{
	width: 500%;
	bottom: -6vh;
	right: -20vw;
  }  
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 1.6rem;
  }
  .landing-label{
  	font-size: 4rem;
  }
  .back-img-landing{
  	width: 300%;
  }
  #img1{
	width: 200%;
	top: 5vh;
	left: -5vw;
  }

  #img2{
	width: 250%;
	bottom: -8vh;
	left: -30vw;
  }

  #img3{
	width: 200%;
	top: 0;
	right: -15vw;
  }

  #img4{
	width: 250%;
	bottom: -6vh;
	right: -20vw;
  }
}