@import "../node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap);

$montserrat: 'Montserrat', sans-serif;   
$arial: 'Arial', sans-serif;


@mixin space($pd-top, $pd-right, $pd-down, $pd-left) {
	margin: 20px auto;
	padding: $pd-top $pd-right $pd-down $pd-left;
}

body{
	font-family: $arial;
	font-size: 1rem;
	background-color: transparent;
	max-width: 100%;
    overflow-x: hidden;
}

.landing-label{
	font-family: $montserrat;
	font-size: 2rem;
	@include space(130px, 0, 0, 0);	
}

.landing-text{
	font-size: 1rem;
	@include space(0, 0, 0, 0);
}

.col-left-landing{
	// background: url(../img/img1.svg) left bottom no-repeat, url(../img/img2.svg) left top no-repeat;
}

.col-right-landing{
	// background: url(../img/img3.svg) right top no-repeat, url(../img/img4.svg) right bottom no-repeat;
}

.back-img-landing{
	pointer-events: none;
	overflow: hidden;
	justify-content: center;
    position: absolute;
    // width: 100%;
    // height: 100%;
    z-index: -1;
}

#img1{
	width: 200%;
	top: 5vh;
	left: -5vw;
}

#img2{
	width: 200%;
	bottom: 0;
	left: -15vw;
}

#img3{
	width: 200%;
	top: 0;
	right: -15vw;
}

#img4{
	width: 200%;
	bottom: 0;
	right: -10vw;
}

.my-col{
	border: 1px red solid;
}

.my-row{
	border: 1px blue dotted;
}

.my-container{
	border: 1px green dashed;
}

@include media-breakpoint-up(sm) {
  body {
    font-size: 1.2rem;
  }
  .landing-label{
  	font-size: 3rem;
  }
}

@include media-breakpoint-up(md) {
  body {
    font-size: 1.4rem;
  }
  .landing-label{
  	font-size: 3.5rem;
  }
  .landing-text{
  	font-size: 1rem;
  }  
}

@include media-breakpoint-up(lg) {
  body {
    font-size: 1.6rem;
  }
  .landing-label{
  	font-size: 4rem;
  }
  .back-img-landing{
  	width: 300%;
  }
}